package ui

// TODO: Create ChartLine, ChartPie, ChartArea, ChartBar Components

// ChartLine is a component that displays a line chart.
templ ChartLine() {
}

// ChartPie is a component that displays a pie chart.
templ ChartPie() {
}

// ChartArea is a component that displays an area chart.
templ ChartArea() {
}

// ChartBar is a component that displays a bar chart.
templ ChartBar() {
}
