package routes

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/pkg/nebula/blocks"
)

func AllocateView(c echo.Context) error {
	return echoComponentResponse(c, renderAuthorizeView())
}

templ renderAuthorizeView() {
		@blocks.Card("authorize-view", blocks.SizeMedium) {
			@blocks.H1("Sonr.ID")
			@blocks.Text("Neo-tree is a file manager for NeoFS.")
		}
}

