package console_ui

templ App() {
	<html class="sl-theme-dark">
		@head()
		<body hx-ext="shoelace" class="theme-dark scrollbar-hide">
			@appbar()
			@tabbar()
			<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
		</body>
	</html>
}

templ Auth() {
	<html class="sl-theme-dark">
	@head()
	<body hx-ext="shoelace" class="theme-dark">
	</body>
	</html>
}
