package modals

templ ShareAccountModal() {
<sl-dialog label="Dialog" class="dialog-width" style="--width: 50vw;" open>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  <sl-button slot="footer" variant="primary">Close</sl-button>
</sl-dialog>
}
