package pages

import "github.com/sonrhq/sonr/pkg/highway/components/layouts"

templ ConsolePage() {
	@layouts.Root() {
		@layouts.Sidebar() {
			@layouts.SidebarItem("Home", "house", "/")
			@layouts.SidebarItem("Chat", "message", "/chat")
			@layouts.SidebarItem("DEX", "swap", "/dex")
		}
	}
}
