package form

templ CodeInput(id string) {
	<input maxlength="1" type="text" id={ id } placeholder="●" class="flex w-full h-10 px-3 py-2 text-sm border rounded-md border-neutral-300 ring-offset-background rounded-full placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50"/>
}

// Hidden input and button which calls a javascript function to generate a passkey
templ PasskeyInput(id string) {
	@CredentialsScripts()
	<input type="hidden" id={ id } class="flex w-full h-10 px-3 py-2 text-sm border rounded-md border-neutral-300 ring-offset-background placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50"/>
	<button type="button" id={ id } class="btn btn-sm text-zinc-100 bg-zinc-900 hover:bg-zinc-800 w-full shadow" onclick="createPasskey({ id })">
		Create PassKey
	</button>
}

templ Submit(text string) {
	<button type="submit" class="btn btn-sm text-zinc-100 bg-zinc-900 hover:bg-zinc-800 w-full shadow">
		{ text }
	</button>
}
