# Binaries
.data
schemas
*.db
tools-stamp
*.exe
*.exe~
*.dll
*.so
*.dylib
*.app
.DS_Store
.session.vim
aof*
dist
**/.haptic
static
pkg/webapp/dist
.agent

# Test binary
*.test
.devon*
**/.DS_Store
.task
.wrangler

# Output of the go coverage tool
*.out
tmp
# Exclude embedded files
!internal/files/dist

# Dependency directories
node_modules/

# Go workspace file
go.work
go.work.sum

# Environment files
.env
**/*.env
sonr.log


# Terraform
**/.terraform/*
.terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

Taskfile.yml

!deploy/**/Taskfile.yml

# Misc
.DS_Store
.tmp/
tmp/
**/*tmp*/
*.tmp
*.log
*.dot
*.pem
dist/
bin/
build/
.devbox
.ignore
.opencommitignore
heighliner*
sonr
deploy/**/data
x/.DS_Store
.aider*
buildenv*
node_modules
cmd/gateway/node_modules
pkg/nebula/node_modules

mprocs.yaml
build
sonr.wiki

!devbox.lock
!buf.lock

.air.toml

