vue/node_modules
vue/dist
release/
.idea/
.DS_Store
**/.testnets
.env
.spectral.mjs
.vercel
.tmp
build/
dist/
.vscode/
.docker-credentials.json
.bin

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
data
# dependencies
node_modules
.pnp
.pnp.js

tmp
# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel
bin/sonr
