DISPLAY_NAME=Sonr
RP_ID=localhost
RP_ORIGIN=http://localhost:8080
RP_AUTH_ORIGIN=http://localhost:8989 # used for webauthn cli login
HTTP_PORT=8080
IS_DEBUG=true
GRPC_PORT=8084
FS_DIR=./
PATH_PREFIX=/
COSMOS_NODE_ADDRESS=http://localhost:26656  # Address of Cosmos backend
LOCAL_CONFIG_DIR="~/.config/sonr" # a directory in which all local data is stored
JWT_SECRET=BOBANDALICE
IPFS_API_READ =api.ipfs.sonr.ws