package ui

// TODO: Create Button, ButtonGroup, IconButton components.

// Button is a component that triggers an action.
templ Button() {
}

// ButtonGroup is a component that groups buttons.
templ ButtonGroup() {
}

// IconButton is a component that triggers an action.
templ IconButton() {
}
