package ui

// TODO: Create ChatConversations, ChatHeader, ChatInput, ChatMessage, ChatView components
templ ChatConversations() {
}

templ ChatHeader() {
}

templ ChatInput() {
}

templ ChatMessage() {
}

templ ChatView() {
}
