package ui

// Tooltip is a component that displays a summary and content that can be expanded or collapsed.
templ Tooltip(summary, content string) {
	<sl-details summary={ summary }>
		{ content }
	</sl-details>
}
