package components

templ LoginButton() {

}

templ AvatarButton() {
}

templ SendButton() {
}

templ SwapButton() {
}

templ InboxButton() {
}

templ NewIdentityButton() {
}


templ NewServiceButton() {
}
