package views_console

import (
	"github.com/sonrhq/sonr/pkg/ui/components"
)

templ ChatView() {
	<div class="w-full h-screen bg-stone-50 dark:bg-stone-950 flex flex-col overflow-clip">
		@components.ChatHeader()
		@components.ConversationView()
		@components.ChatFooter()
	</div>
}
