package marketing

import "github.com/onsonr/sonr/pkg/nebula/global/styles"

// ╭─────────────────────────────────────────────────────────╮
// │                  Final Rendering                        │
// ╰─────────────────────────────────────────────────────────╯

// View renders the home page
templ View() {
	@styles.LayoutNoBody("Sonr.ID", true) {
		@Header()
		@Hero()
		@Highlights()
		@Mission()
		@Architecture()
		@Lowlights()
		@CallToAction()
		@Footer()
	}
}
