package views

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/internal/gui/elements"
)

func ProfileView(c echo.Context) error {
	return echoComponentResponse(c, renderProfileView())
}

templ renderProfileView() {
	@elements.Layout("Profile | Sonr.ID") {
		@elements.Card("profile-view", elements.SizeLarge) {
			@elements.ProfileCard()
			@elements.Tabs()
		}
	}
}
