/*
 * This is temporary styling and can be completed removed or replaced.
 */

img {
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.content {
  padding: 50px;
  width: 400px;
}

.content h1 {
  font-size: 30px;
  text-align: center;
}

.content p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.example {
  background: #eee;
  margin-top: 30px;
  padding: 15px;
  text-align: center;
}

.example h2 {
  margin: 0 0 15px;
}
