package views

import (
)

templ InitialView() {
	@LayoutView("Sonr.ID") {
		@LayoutContainer() {
			@HeroTitle("Sonr.ID", "The decentralized identity layer for the web.")
			@HeroStart()
			@HeroSocials()
		}
	}
}
