package pages

import (
	internal "github.com/onsonr/sonr/pkg/webui/landing/components"
	"github.com/onsonr/sonr/pkg/webui/styles/layout"
	"github.com/onsonr/sonr/pkg/webui/styles/view"
)

// RedirectModal returns the Modal with a QR code to scan.
templ RegisterPage() {
	@view.FullScreenModal() {
		<div class="relative text-center">
			@internal.RegisterHeader()
			@layout.Separator("Or Reserve Handle")
			@internal.ReserveHandleForm()
		</div>
		@internal.RegisterFooter()
	}
}
