package register

import (
	"github.com/onsonr/sonr/pkg/webapp/components/layout"
	"github.com/onsonr/sonr/pkg/webapp/components/view"
	"github.com/onsonr/sonr/pkg/webapp/pages/register/internal"
)

// RedirectModal returns the Modal with a QR code to scan.
templ Page() {
	@view.FullScreenModal() {
		<div class="relative text-center">
			@internal.RegisterHeader()
			@layout.Separator("Or Reserve Handle")
			@internal.ReserveHandleForm()
		</div>
		@internal.RegisterFooter()
	}
}
