package components

templ LoginButton() {
	<sl-button variant="default" disabled>Login</sl-button>
}


templ RegisterButton() {
	<sl-button variant="text" size="medium">Register</sl-button>
}

templ SwapTokensButton() {
	<sl-button variant="default" disabled>Swap</sl-button>
}

templ SendTokensButton() {
	<sl-button variant="default" disabled>Send</sl-button>
}
