package home

import (
	"github.com/onsonr/sonr/pkg/nebula/components/blocks"
	"github.com/onsonr/sonr/pkg/nebula/models"
)

templ View(home *models.Home) {
	@blocks.LayoutNoBody("Sonr.ID", true) {
		@Header()
		@SectionHero(home.Hero)
		@Highlights()
		@Features()
		@Bento()
		@Lowlights()
		@CallToAction()
		@Footer()
	}
}
