package blocks

templ CommandMenuTrigger() {
	<div
		hx-trigger="keyup[metaKey&&key=='k'] from:body"
		hx-get="/_modals/command-menu"
	></div>
}

templ CommandMenu() {
	<sl-dialog>
		<sl-card>
			<sl-card-body>
				<sl-input
					type="search"
					placeholder="Search commands"
					autofocus
				></sl-input>
			</sl-card-body>
		</sl-card>
	</sl-dialog>
}
