package hero

templ StartButton() {
	<div class="pt-1.5 mb-3 flex flex-col items-center justify-center h-full">
		<sl-button size="large" hx-target="#container" hx-get="/register" hx-push-url="/register" type="button">
			<sl-icon slot="prefix" library="sonr" name="sonr"></sl-icon>
			Create Vault
			<sl-icon slot="suffix" library="sonr" name="arrow-right"></sl-icon>
		</sl-button>
	</div>
}
