package pages

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/pkg/nebula/blocks"
)

func Login(c echo.Context) error {
	return echoResponse(c, loginView(c))
}

templ loginView(c echo.Context) {
	@blocks.Card("login-view", blocks.SizeLarge) {
		@blocks.H1("Sonr.ID")
		@blocks.Text("Neo-tree is a file manager for NeoFS.")
		@blocks.Spacer()
		@blocks.RadioGroup()
		@blocks.Spacer()
		@blocks.Button(blocks.GET("/", "#login-view")) {
			@blocks.Text("Cancel")
		}
	}
}
