package pages

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/pkg/nebula/blocks"
)

func Profile(c echo.Context) error {
	return echoResponse(c, profileView(c))
}

templ profileView(c echo.Context) {
	@blocks.Card("profile-view", blocks.SizeLarge) {
		@blocks.ProfileCard()
		@blocks.Tabs()
	}
}
