package pages

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/pkg/nebula/blocks"
)

templ Profile(c echo.Context) {
	@blocks.Card("profile-view", blocks.SizeLarge) {
		@blocks.ProfileCard()
		@blocks.Tabs()
	}
}
