package pages

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/pkg/nebula/blocks"
	"github.com/onsonr/sonr/pkg/nebula/islands"
)

templ Register(c echo.Context) {
	@blocks.Card("register-view", blocks.SizeMedium) {
		@blocks.H2("Account Registration")
		@blocks.Spacer()
		@blocks.Breadcrumbs()
		@islands.BasicInfo(c, islands.InitialForm)
		@blocks.Spacer()
		@blocks.Button(blocks.GET("/", "#register-view")) {
			@blocks.Text("Cancel")
		}
	}
}
