package views

templ DepositModal() {
	<sl-dialog label="Deposit Funds" open>
		Hello world
	</sl-dialog>
}

templ SwapModal() {
	<sl-dialog label="Swap Tokens" open>
		Hello world
	</sl-dialog>
}

templ ShareModal() {
	<sl-dialog label="Share Menu..." open>
		Hello world
	</sl-dialog>
}
