{
    # Global options
    email team@sonr.id
}

# Services exposed via Cloudflare Tunnel
:1323 {
    reverse_proxy localhost:1323
}

:1317 {
    reverse_proxy localhost:1317
}

:9090 {
    reverse_proxy localhost:9091
}

:26657 {
    reverse_proxy localhost:26657
}

vault.sonr.id {
    # Since vault.sonr.id has specific configurations, we can specify the hostname

    reverse_proxy localhost:8080

    @vault path_regexp vaultPath ^/([a-z0-9]{42})(/.*|)$

    handle @vault {
        uri replace /{re.vaultPath.0} /ipns/{re.vaultPath.1}{re.vaultPath.2}
        reverse_proxy localhost:8080
    }

    file_server

    header {
        Content-Type .wasm application/wasm
        Service-Worker-Allowed "/"
    }

    encode zstd gzip
}
