{
	email team@sonr.id
}

# Vaults at vault.sonr.id
vault.sonr.id {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	  resolvers 1.1.1.1
	}

	# Match paths that are bech32 addresses
	@vault path_regexp vaultPath ^/([a-z0-9]{42})(/.*|)$

	handle @vault {
		# Rewrite to IPFS gateway format
		uri replace /{re.vaultPath.0} /ipns/{re.vaultPath.1}{re.vaultPath.2}

		# Proxy to IPFS gateway
		reverse_proxy http://localhost:8080
	}

	file_server

	header {
		Content-Type .wasm application/wasm
		Service-Worker-Allowed "/"
		# Add any other necessary headers
	}

	# Optional: Enable compression
	encode zstd gzip
}
