package profile

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/pkg/nebula/components/blocks"
)

templ View(c echo.Context) {
	@blocks.Layout("Sonr.ID", true) {
		@blocks.Card("profile-view", blocks.SizeLarge) {
			@blocks.ProfileCard()
			@blocks.Tabs()
		}
	}
}
