package profile

import (
	"github.com/labstack/echo/v4"
	"github.com/onsonr/sonr/pkg/nebula/global/styles"
	"github.com/onsonr/sonr/pkg/nebula/global/ui"
)

templ View(c echo.Context) {
	@styles.Layout("Sonr.ID", true) {
		@ui.Card("profile-view", styles.SizeLarge) {
			@ui.ProfileCard()
		}
	}
}
