package views

import "github.com/sonrhq/sonr/app/gateway/ui/shared"
import "github.com/sonrhq/sonr/app/gateway/ui/components"

templ LandingHome() {
	<html class="sl-theme-dark">
		@shared.Head()
		<body hx-ext="shoelace" class="theme-dark">
			@components.MarketingHero()
			@components.MarketingFeatures()
			@shared.LandingFooter()
		</body>
	</html>
}
