package cdn

const (
	PublicOrigin = "https://cdn.sonr.id"
)

var (
	stylesHandle = templ.NewOnceHandle()
	alpineHandle = templ.NewOnceHandle()
	dexieHandle  = templ.NewOnceHandle()
	htmxHandle   = templ.NewOnceHandle()
)

templ Styles() {
	<link href={ "/css/styles.css" } rel="stylesheet"/>
}

templ Alpine() {
	<script src={ "/js/alpine.min.js" } defer></script>
}

templ Dexie() {
	<script src={ "/js/dexie.min.js" }></script>
}

templ Htmx() {
	<script src={ "/js/htmx.min.js" }></script>
}
