package ui

templ NameInput(name string) {
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
		<sl-input name="first_name" placeholder="Satoshi" type="text" label="First Name" required autofocus></sl-input>
		<sl-input name="last_name" placeholder="N" maxlength="1" type="text" label="Last Initial"></sl-input>
	</div>
}
