package dash

import (
	"github.com/onsonr/sonr/pkg/nebula/components/home/sections"
	"github.com/onsonr/sonr/pkg/nebula/global/styles"
)

templ View() {
	@styles.LayoutNoBody("Sonr.ID", true) {
		@sections.Header()
		@sections.Highlights()
		@sections.Features()
		@sections.Bento()
		@sections.Lowlights()
		@sections.CallToAction()
		@sections.Footer()
	}
}
