package home

import (
	"github.com/onsonr/sonr/nebula/components/home/sections"
	"github.com/onsonr/sonr/nebula/global/styles"
)

templ View() {
	@styles.LayoutNoBody("Sonr.ID", true) {
		@sections.Header()
		@sections.Hero(hero)
		@sections.Highlights(highlights)
		@sections.Mission()
		@sections.Architecture()
		@sections.Lowlights()
		@sections.CallToAction()
		@sections.Footer()
	}
}
