package pages

import (
	login "github.com/sonrhq/sonr/pkg/components/views/auth/login"
	register "github.com/sonrhq/sonr/pkg/components/views/auth/register"
	// "github.com/sonrhq/sonr/x/service"
	"github.com/labstack/echo/v4"
)

templ Login(ctx echo.Context) {
	@login.IndexView()
}

templ Register(ctx echo.Context) {
	@register.IndexView()
}
