package pages

import (
	"github.com/sonrhq/sonr/pkg/components/views"
	// "github.com/sonrhq/sonr/x/service"
	"github.com/labstack/echo/v4"
)

templ Login(ctx echo.Context) {
	@views.LoginExistingView()
}

templ Register(ctx echo.Context) {
	@views.RegisterWelcomeView()
}
