/*
 * This is temporary styling and can be completed removed or replaced.
 */

.my-extension img {
  height: auto;
  max-width: 100%;
}

.my-extension body {
  margin: 0;
}

.my-extension .container {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 99999;
}

.my-extension .content {
  padding: 50px;
  width: 700px;
}

.my-extension .content h1 {
  font-size: 30px;
  text-align: center;
}

.my-extension .content p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
