package ui

templ ConversationsList() {
	<sl-dialog label="Dialog" open>
		<sl-input autofocus placeholder="I will have focus when the dialog is opened"></sl-input>
		<sl-button slot="footer" variant="primary">Close</sl-button>
	</sl-dialog>
}

templ ChatMessage() {
	<sl-dialog label="Dialog" open>
		<sl-input autofocus placeholder="I will have focus when the dialog is opened"></sl-input>
		<sl-button slot="footer" variant="primary">Close</sl-button>
	</sl-dialog>
}
