package shared

templ WalletSettingsModal() {

}

templ WalletDepositModal() {
}

templ WalletWithdrawModal() {
}

templ WalletSwapModal() {
}

templ WalletSendModal() {
}

templ WalletCreateAccountModal() {

}
