package nav

templ Footer() {
	<footer class="flex items-center justify-center w-full h-16 bg-gradient-to-r from-cyan-700 to-cyan-300 px-4 py-2 rounded-xl">
		<div class="flex items-center gap-3">
			<sl-icon library="sonr" name="sonr-fill" class="w-8 h-8"></sl-icon>
			<h1 class="text-white text-2xl font-bold">Sonr.ID</h1>
		</div>
	</footer>
}
